*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #111027;
}

body {
    background-color: #361b32;
}


h1{
  color: #538482;
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-align: center;
}
    

h2{
color: #985470;
font-family: "Caramel", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}


h5{
color: #a8a975;
font-family:'Times New Roman', Times, serif
}


p {
  color: #a8a975;
  font-family:'Times New Roman', Times, serif
}


a{
   display: grid;
  place-items: center;
  background-color: #111027;
   color: #6f8768;
   text-decoration: none;
   font-family: "Caramel", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}


li{
    color: #907c85;
font-family: "Caramel", cursive;
  font-weight: 400;
  font-style: normal;
}


nav a{
  display: grid;
  place-items: center;
  background-color: #111027;
}

#Logo {
  width: 150px;
  height: 150px;
}